.headline-text {
    font-size: 3em;
}

.posts-headline-animated {
    font-size: 1.5em;
    font-weight: 900;
    margin: 2em 1em;
}

.posts-headline-animated span {
    opacity: 0;
    position: relative;
    top: -15px;
}

.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/** --------------------------------------------------
/ Overrides
/ -------------------------------------------------- **/


/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.flex-site {
    height: 100%;
    /* 1 & 3 */
}

.flex-site-content {
    flex: 1 0 auto;
    /* 2 */
}

.header-showcase {
    max-height: 80vh;
}


/** --------------------------------------------------
/ Premium
/ -------------------------------------------------- **/

.premium {}

.premium .separator {
    border-top: 1px dashed #CD241B;
    border-bottom: 1px dashed #CD241B;
    margin-bottom: 8pt;
    text-align: center;
}

.premium .premium-headline {
    font-weight: bold;
}


/** --------------------------------------------------
/ Text colors
/ -------------------------------------------------- **/

.text-red {
    color: #CD241B;
}